.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 100%;
    background-color: #fff;
    padding: 20px;
    border-radius: 20px;
    position: relative;
  }

  
  .flex {
    display: flex;
    width: 100%;
    gap: 6px;
  }

  
  
  .form label {
    position: relative;
  }
  
  .form label .inputForm {
    width: 100%;
    padding: 10px 10px 20px 10px;
    outline: 0;
    border: 1px solid rgba(105, 105, 105, 0.397);
    border-radius: 10px;
  }
  
  .inputFormMensaje{
    height: 10rem;
  }

  .submit {
    border: none;
    outline: none;
    background-color: royalblue;
    padding: 10px;
    border-radius: 10px;
    color: #fff;
    font-size: 16px;
    transform: .3s ease;
  }
  
  .submit:hover {
    background-color: rgb(56, 90, 194);
  }